<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Beyond Chat</title>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="/emojione/lib/js/emojione.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/emojione/assets/css/emojione.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
